body {
    background: url(Scallop%20Background.jpg)
}

#dad {
    background-color: aquamarine;
    opacity: 0.8;

}

#dad h1 {
    color: darkgoldenrod;

}

#dtext {
    margin-left: 100;
    margin-right: 100;
    opacity: 0.8;
    background-color: ffff82;

}

#dtext h2 {
    color: e8c547;
    text-indent: 50px
}

#back {
    text-align: right;

}

#back h1 span {
    background-color: d8e2dc;
    opacity: .8;    
}
